<h1 class='text-center mt-2 text-white'>Administrador: <%= locals.administrador%></h1>

<div class="d-flex flex-column justify-content-center align-items-center mt-5">

<a href="cadastroafiliado"><button style="max-width: 300px;" class='btn btn-primary mt-4 botao'>Cadastrar loja</button></a>
<a href='painelbusca'><button style="max-width: 300px;" class='btn btn-primary mt-4 botao'>Buscar loja</button></a>
<a href='editaravisodasemana'><button  style="max-width: 300px;" class='btn btn-primary mt-4 botao'>Avisos da semana</button></a>
<a href='vendasedevolucoes'><button  style="max-width: 300px;" class='btn btn-primary mt-4 botao'>Vendas/Devoluções</button></a>
</div>
<style>
.botao{
    margin: 4em;
    height: 10vh;
    width: 40vw;
    transform: scale(1.8);

}
</style>