<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-control" content="no-cache">
    <title>AlternattivaLogin</title>
    <link rel="icon" href="/images/fav.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </head>
  <body>
    
    <div class="d-flex align-items-center " style="height: 80vh;">
      
  <div class="container">
    <div class="row">
      <center><h5>Formas de contato: Email: altternativa@outlook.com</h5></center>
    </div>
    <div class="row">
      <center><h6>Email: altternativa@outlook.com</h6></center>
    </div>
    <div class="row">
      <center><h6>Celular: (21)973131449</h6></center>
    </div>
      <div class="row">
      <div class="col-12 m-auto">
      
        <div class="card border border-primary shadow-0 scale_changer m-auto" style="height: 20em; width: 40vw; background-color:lightblue; ">
  <div class="card-header text-center">Login Altternativa</div>
  <div class="card-body text-center">
    <h5 class="card-title"></h5>
    
  <form id="loginForm" action="/login" method="post" >
        <div class="mb-3">
            <label class="form-label" for="usuario">Código</label>
            <input name="codigo" required class="form-control" id="codigo" type="number" placeholder="Código da sua loja" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="usuario:required">Usuario </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="senha">Palavra passe</label>
            <input class="form-control" required id="senha" name="senha" type="password" placeholder="palavra-passe" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="senha:required">palavra-passe .</div>
        </div>
    
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Entrar</button>
        </div>
    </form>  
  

  </div>
</div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>


<style>
@media screen and (max-width: 980px) and (orientation: portrait){
  .scale_changer {
    transform: scale(2.2);
    margin: auto;
    
  }
}


</style>
<% if(typeof erro !== 'undefined'){%>
<script>
  
  var erro = '<%= erro %>';
  alert(erro)
  window.location.href = '/';
</script>
<% } %>
