<div class="d-flex justify-content-center align-items-center">
<div class="container  mt-5 p-4" style="background-color:#ffab01; border-radius: 15px;">
    <form action="/cadastroloja" method="post">


        
        <div class="form-group mt-2">
            <label for="nome_loja">Nome da loja</label>
            <input type="text" class="form-control" id="nome_loja" name="nome_loja" placeholder="Nome da loja">
        </div>



        <div class="form-group mt-2">
            <label for="nome_proprietario">Nome do proprietario</label>
            <input type="text" class="form-control" id="nome_proprietario" name="nome_proprietario" placeholder="Nome do proprietario">
        </div>



        <div class="form-group mt-2">
            <label for="palavra_passe">Palavra passe</label>
            <input type="text" class="form-control" id="palavra_passe" name="palavra_passe" placeholder="Palavra passe">
        </div>



        <div class="form-group mt-2">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
        </div>



        <div class="form-group mt-2">
            <label for="regiao">Regiao</label>
            <input type="text" class="form-control" id="regiao" name="regiao" placeholder="Regiao">
        </div>



        <div class="form-group mt-2">
            <label for="cpf_cnpj">CNPJ/CPF</label>
            <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj" placeholder="CNPJ">
        </div>
       <center><button type="submit" class="btn btn-success mt-5">CADASTRAR</button></center> 
        
    </form>

</div>

</div>