<h1 class='text-center mt-2'>Administrador: <%= locals.administrador%></h1>

<div class="d-flex flex-column justify-content-center align-items-center mt-5">

<a href="cadastroloja"><button class='btn btn-primary mt-4 botao'>Cadastrar loja</button></a>
<button class='btn btn-primary mt-4 botao'>Buscar loja</button>
<button class='btn btn-primary mt-4 botao'>Avisos</button>

</div>
<style>
.botao{
    margin: 4em;
    height: 10vh;
    width: 40vw;
    transform: scale(1.8);

}
</style>