
<h1 class='text-center mt-2 text-white'>Administrador: <%= locals.administrador%></h1>
<div class="d-flex justify-content-center align-items-center">


<div class="container text-white  mt-2 p-4" style="background-color:#6676e0; border-radius: 6px; max-width: 700px;">
    <form action="/admin/editaravisodasemana" id="form" method="post">

<center>

        <div class="form-group mt-2">
            <label for="aviso">Aviso</label>
            <textarea class="form-control"  id="texto" name="texto" rows="4" cols="40"><%= aviso %></textarea>
        </div>




</center>
       <center><button type="submit" id="enviar" class="btn btn-success mt-5">Editar</button></center> 
        
    </form>

</div>

</div>
<script>

    msg = '<%= msg %>'
    if(msg != ''){
    
        alert(msg)
        window.location.href = '/admin/painel'
    
    }


    $("#form").submit(function(){
        $('#enviar').prop('disabled',true)
    })

  
    

</script>