<h1 class='text-center mt-2 text-white' >Administrador: <%= locals.administrador%></h1>

<div class="d-flex flex-column justify-content-center align-items-center mt-5">


<form action="/dadosafiliado" method="get">

<form>
<div class="form-group ">
<center>
<label for='codigo' class="text-white">Código:</label>
<input required type="number" class="form-control" style="max-width: 200px;" name='codigo' id='codigo'></center>
</div>
<button class="btn btn-primary botao" style="max-width: 300px;" type="submit">Buscar</button>
</form>


<form class="mt-5" action="/admin/listagemafiliadosregiao">
    <div class="form-group ">
    <center>
  
   
        <div class="form-group mt-2">
            <label for="regiao text-white"    class="text-white">Região</label>
            <select class="form-control" style="max-width: 320px;"   name="regiao" id="regiao">
                <option value="todas" class="text-center" >Todas</option>
                <% for (let i = 0; i < regioes.length; i++) { %>
                  <option value="<%= regioes[i] %>" class="text-center"><%= regioes[i] %></option>
                <% } %>
            </select>


        </div>



    </div>
    <button class="btn btn-primary botao" style="max-width: 300px;" type="submit">Buscar por região</button>
</form>
    

</div>
<style>
.botao{
    margin: 4em;
    height: 10vh;
    width: 40vw;
    transform: scale(1.8);

}
</style>

<script>
        $('#codigo').blur(function(){
        var codigo = $(this).val()
        $.ajax({
            url: '/admin/codigoexistente',
            type: 'post',
            data: {codigo: codigo},
            success: function(data){
                if(data == false){

                    alert('Código não existe')

                    $('#codigo').val('')
                }
            }
      })  

    })
</script>